@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  height: 100%;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245,245,246;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.shape1, .shape2 {
  position: fixed;
  background-color: red;
}

.shape1 {
  bottom: 10%;
  left: 10%;
  width: 30vw;
  height: 40vh;
  border-radius: 100%;
  background-color: #FFD05930;
  mix-blend-mode: multiply;
  filter: blur(80px);
}

.shape2 {
  bottom: 15%;
  right: 10%;
  width: 40vw;
  height: 50vh;
  border-radius: 100%;
  background-color: #216d6530;
  mix-blend-mode: multiply;
  filter: blur(80px);
}
